
<div class="container col-lg-8 mt-5">
  <div class="border">
    <h1><%= @user.name %></h1>
    <div class=" d-flex justify-content-start">
      <div class="description" >
         <p>Bio</p>
        <%= @user.description %>
      </div>
      <div>
        <%= cl_image_tag @user.photo.key, class: "avatar-large" %>
      </div>
    </div>
    <div class=" d-flex justify-content-between mt-5">
      <div class= "tags" >
        <h3>Favourite Sports</h3>
        <% @user.favorite_sports.each do |favorite_sport| %>
          <div class="btn btn-ghost">
            <%= favorite_sport.sport.name %>
          </div>
        <% end %>
      </div>
      <div class="lists ">
        <h3>Club memberships</h3>
        <div class=textlist>
          <li>Urban sports club </li>
          <li>Insel sports club</li>
          <li>Berliner sports club </li>
        </div>
      </div>
      <%= link_to "Message", buddy_request_profile_conversations_path(@buddy_request, @user), method: :post, class: "btn btn-warning btn-align-end"  %>
   </div>
  </div>
  <br>
<%= link_to "Back", request.referer, class: "btn btn-link"  %>
 </div>


