<div class="banner text-center"
style= "background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "banner.jpg" %>');">
  <div class="container">
    <h1>Welcome to Sports Buddy</h1>
    <p>Discover activities and connect with people around you</p>
      <div class="d-flex justify-content-center p-5">
        <%= form_tag sports_path, method: :get do %>
          <div class="row form-inline text-secondary" id="search-data" data-sports="<%= @sports_selection.to_json %>" >
            <%= text_field_tag :query_sport, params[:query_sport], autocomplete: :off, placeholder: "Chose a sport" %>
            <%= text_field_tag :query_address,
              params[:query_address],
              placeholder: "Chose a location"
            %>
            <%= submit_tag "Find an activity", class: "btn-activity btn-warning" %>
          </div>
        <% end %>
      </div>
  </div>
</div>


<div id ="btn" class="container-cards-map d-flex">
  <div class="col-8">
    <div class="cards-sport">
        <% @sports.each do |sport| %>
          <div class="card-sport col-4">
            <div class="card-img">
              <%= cl_image_tag sport.photo.key, class: "card-img-top" %>
              <h2><%= sport.name %></h2>
            </div>
            <div class="card-body">
              <%= link_to "Find a buddy", sport_path(sport), class: "btn-buddy btn-warning" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="card-map col-4">
    <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

