<div class="banner text-center"
style= "background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "banner.jpg" %>');">
  <div class="container">
   <div class = "bannertext"> <h1>Welcome to Sports Buddy</h1>
     <p>Discover activities and connect with people around you</p></div>

      <div class="d-flex justify-content-center p-5">
        <%= form_tag sports_path, method: :get do %>
          <div id="search-data" data-sports="<%= @sports_selection.to_json %>" >
            <%= text_field_tag :query_sport, params[:query_sport], autocomplete: :off, placeholder: "Select sport" %>
            <%= text_field_tag :query_address,
              params[:query_address],
              placeholder: "Enter location"
            %>
            <%= submit_tag "Find an activity", class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
  </div>
</div>

<% if params[:query_sport] %>
    <div class="heading"><h2> <%= " Search results for #{params[:query_sport]} in Berlin " %></h2></div>
<% else %>
<div class="heading"><h2> <%= " Recommended sports in Berlin " %></h2></div>
  <% end %>
<div id ="btn" class="container-map">
  <div class="cards ">
    <% @sports.each do |sport| %>
    <div class="card">
     <div class="cardimgcontainer"> <%= cl_image_tag sport.photo.key %> </div>
      <div  class = "card-info">
       <div class="pl-3"> <h2><%= sport.name.capitalize %></h2>
        <p><i class="fas fa-map-marker-alt"></i> <%= sport.address.truncate(25) %></p>
      </div>
        <div class="line-orange" >
      <%= link_to "Find buddy", sport_path(sport), class: "btn btn-link btn-home" %>
      </div>
       </div>
      </div>
 <% end %>
   </div>

    <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

