<div class="container col-lg-8 justify-content-center ">
 <div class="border_buddy">
  <h1>Request a buddy for <%= @sport.name %> </h1>
  <h4>Select a date to find a buddy</h4>
    <div class="d-flex">
      <%= simple_form_for([ @sport, @buddy_request ],remote: true) do |f| %>
      <div class="row form-inline text-secondary">
        <%= f.input :date, as: :date, html5: true %>
        <%= f.button :submit, class: "btn btn-warning text-white" %>
      <% end %>
      </div>
    </div>
   </div>
</div>


<div class="container col-lg-8">
  <div class="border_buddy">


    <% @buddy_requests.each do |request| %>
      <div class="card-product">
        <%= cl_image_tag request.user.photo.key %>
          <div class="card-product-infos">
         <div>  <h2><%= request.user.name%></h2>
            <p><%= request.user.description.truncate(60)%></p>
          </div>
          <div class="d-flex justify-content-between" >  <p> <%= request.user.age %></p>
             <div class="cardlinks"> <%= link_to "Details", buddy_request_profile_path(request, request.user), class: "btn btn-link" %>
            <%= link_to "Message", buddy_request_profile_conversations_path(request,request.user ), method: :post, class: "btn btn-link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

