<div class="container">
  <% if @conversations.length >= 1 %>
      <% @conversations.each do |conversation| %>
        <div class="conversation-card">
          <% if current_user.id == conversation.sender.id %>
            <div class="conversation-card-avatar">
              <%= cl_image_tag conversation.receiver.photo.key %>
              <%= link_to "Profile", buddy_request_profile_path(conversation.buddy_request_id, conversation.receiver) %>
            </div>
              <div class="conversation-card-info">
                <h2> <%= conversation.receiver.name %> </h2>
                <p><i><%= conversation.messages.last.created_at.strftime("%A, %b %d") %></i></p>
              </div>
                <div class="conversation-message">
                  <p><i><%= conversation.messages.last.content %></i></p>
                </div>
                <% else %>
              <div class="conversation-card-avatar">
                <%= cl_image_tag conversation.sender.photo.key, class: "avatar" %>
                <%= link_to "Profile", buddy_request_profile_path(conversation.buddy_request_id, conversation.sender), class: "btn btn-link" %>
              </div>
            <div class="conversation-card-info">
              <h2> <%= conversation.sender.name %></h2>
              <p><i><%= conversation.messages.last.created_at.strftime("%A, %b %d") %></i></p>
            </div>
          <div class="conversation-message">
            <p><i><%= conversation.messages.last.content %></i></p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <h1> Create a Buddy Request and start chatting!</h1>
  <% end %>
</div>


