
<div class="container-conversation">
  <%= link_to "Back to all messages", conversations_path(@conversation) %>
  <div class="border">
<h1 class="text-warning">Hi <%= @current_user.name %>, chat with <%= @conversation.receiver.name == current_user.name ? @conversation.sender.name : @conversation.receiver.name %></h1>
<div id="messages" data-chatroom-id="<%= @conversation.id %>">
  <% @conversation.messages.each do |message| %>
    <div class="message-container <%= "sender-message" if message.user == current_user %>" id="message-<%= message.id %>">
      <i class="author">
        <span class="text-primary font-italic"><%= message.user.name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>

  <% end %>
</div>


  <div class="form-group">
      <%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Send a message to #{@conversation.receiver.name == current_user.name ? @conversation.sender.name : @conversation.receiver.name} and meet up..." %>
      <%= f.button :submit, 'Send', class: "btn btn-primary text-white" %>
      <% end %>
  </div>
  </div>
</div>
