<footer class= "footer" >

  <div class= "footer-links">
    <%= link_to do  %>
      <i class="fab fa-github"></i>
      <% end %>
    <%= link_to do  %>
      <i class="fab fa-instagram"></i>
      <% end %>
    <%= link_to do  %>
      <i class="fab fa-facebook"></i>
      <% end %>
    <%= link_to do  %>
      <i class="fab fa-twitter"></i>
      <% end %>
    <%= link_to do  %>
      <i class="fab fa-linkedin"></i>
    <% end %>


  </div>
    <div class= "footer-copyright">
    This footer is made with  <i class="fas fa-heart"></i> at Le Wagon
  </div>

</footer>

