
<div class="container col-lg-8">
  <div class="border_buddy">
    <% @users.each do |buddy| %>
      <div class="card-product">
        <%= cl_image_tag buddy.photo.key %>
          <div class="card-product-infos">
         <div>  <h2><%= buddy.name %></h2>
            <p><%= buddy.description.truncate(60)%></p>
          </div>
          <div class="d-flex justify-content-between" >  <p> <%= buddy.age %></p>
             <div class="cardlinks"> <%= link_to "Details", buddy_request_profile_path(@buddy_request, buddy), class: "btn btn-link" %>
            <%= link_to "Message", buddy_request_profile_conversations_path(@buddy_request, buddy), method: :post, class: "btn btn-link" %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
